$box-shadow-color: rgb(105, 9, 105);

$bg-img-gradient1: rgba(149, 22, 199, 0.431);

$bg-img-gradient2: rgb(140, 34, 158);

$bg-img-gradient3:rgb(122, 17, 141);

$form-media-color: #730d73;

$box-shadow-form-media: rgb(105, 9, 105);

$btn-linear-gradient-1: rgba(185, 10, 171, 0.692);

$btn-linear-gradient-2: rgb(74, 7, 77);

$input-clr: rgb(211, 149, 226);