.container {
  width: 50%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0;
}

.container .container__row {
  margin-top: 100px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 22, 199, 0.431)), color-stop(#8c229e), to(#7a118d));
  background-image: linear-gradient(rgba(149, 22, 199, 0.431), #8c229e, #7a118d);
  -webkit-box-shadow: 2px 2px 2px 2px #690969;
          box-shadow: 2px 2px 2px 2px #690969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container__row .large-title {
  margin-left: 4%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .container .container__row .large-title {
    font-size: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container .container__row .large-title {
    font-size: 30px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container .container__row .large-title {
    font-size: 50px;
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .container .container__row .large-title {
    font-size: 20px;
    width: 50%;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .container .container__row .large-title img {
    font-size: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container .container__row .large-title img {
    font-size: 30px;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container .container__row .large-title img {
    font-size: 50px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container .container__row .large-title img {
    font-size: 20px;
    width: 80%;
    margin-left: 20px;
  }
}

.container .container__row .form-media {
  width: 200px;
  background-color: white;
  color: #730d73;
  text-align: center;
  margin-left: 4%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .container__row .form-media .form-userlogin {
  margin-top: 50px;
  letter-spacing: 1;
  font-weight: bold;
  text-align: center;
  font-family: Garamond;
}

.container .container__row .form-media .button-primary {
  font-size: large;
  margin-top: 10px;
  color: white;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(185, 10, 171, 0.692)), to(#4a074d));
  background-image: linear-gradient(to right, rgba(185, 10, 171, 0.692), #4a074d);
}

.container .container__row .form-media ::-webkit-input-placeholder {
  color: white;
}

.container .container__row .form-media :-ms-input-placeholder {
  color: white;
}

.container .container__row .form-media ::-ms-input-placeholder {
  color: white;
}

.container .container__row .form-media ::placeholder {
  color: white;
}

.container .container__row .form-media .input-ordinary {
  margin-top: 40px;
  margin: 10px;
  width: 150px;
  height: 25px;
  background-color: #d395e2;
  border-radius: 5px;
  border-style: hidden;
}
/*# sourceMappingURL=main.css.map */